<div class="container">
  <button (click)="logout()" color="primary" mat-flat-button>Logout</button>
  <h2>Emails</h2>
 

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{ row?.sender?.name }}</td>
      </ng-container>

      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Subject</th>
        <td mat-cell *matCellDef="let row">{{ row.subject }}</td>
      </ng-container>

      <ng-container matColumnDef="body">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let row">
          {{
            row.body.length > 6 ? (row.body | slice: 0:40) + "..." : row.body
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="sentAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sent At</th>
        <td mat-cell *matCellDef="let row">{{ row.sentAt | date: "MMM d" }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        class="cursor"
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        routerLink="/emails/{{ row.id }}"
      ></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter.
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</div>
